
.table {
  text-align:right;
  vertical-align:top;
  width: 2rem;
}
th {
  width: 10%;
}

.center{
  display: flex;
}
.items {
  margin-right: auto;
  margin-left: auto;
}

.col-md-2{
  :;
}

.col-md-4 {
  width:75vh;
}
.col-md-8{
  width:20vh;
}

.col-md-4 {
:;
}