* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    box-sizing: border-box;
    list-style-type: none;
}

/* vietnamese */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bevietnampro/v8/QdVNSTAyLFyeg_IDWvOJmVES_HRUNXcSYJIheh6QaA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bevietnampro/v8/QdVNSTAyLFyeg_IDWvOJmVES_HRUNXYSYJIheh6QaA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bevietnampro/v8/QdVNSTAyLFyeg_IDWvOJmVES_HRUNXgSYJIheh4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.relative {
    position: relative;
}

.absol {
    position: absolute;
}

header {
    width: 100%;
    height: 10vh;
    background-color: black;
    position: fixed;
    display: inline;
    z-index: 3000;
}

.resp {
    width: auto;
    height: auto;
}

img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

nav {
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    font-size: 18px;
    position: sticky;
    background-color: black;
    top: 0;
}

.logo{
    height: 5vh;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 50px;
    padding-inline-start: 40px;
}

li {
    align-items: center;
    height: 5vh;
    line-height: 5vh;
}
.top {
    padding-top: 20vh;
}

.marge {

}
main {
    display: inline-block;

}

footer {
    height: 10vh;
    line-height: 10vh;
    background-color: black;
    position: sticky;
}

.book-detail {
    top: 30%;
    text-align: center;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-top: 10vh;
    width: 20%;
    height: auto;
}
.icon {
    width: 10vh;
    height: auto;
}
.right {
    float: right;
}

.left {
    float: left;
}

.book-detail {
    padding-top: 30vh;
}
.club-image img {
    object-fit: contain;
    width: 80%;
    max-height: 50vh;
    padding: 6rem 0 2rem 0;
}
.book-image img {
    object-fit: contain;
    width: 80%;
    max-height: 50vh;
    padding: 6rem 0 2rem 0;
}

.content {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inside {
    width: 10em;
}

.container {
    flex-direction: column;
}
.card-text h2, h3 {
    display: inline-block;
    padding-bottom: 1rem;
}

.date {
    padding-top: 2rem;
}