{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock stylesheets %}

{% block search %}
    <form>
        <input type="search" name="q" placeholder="Rechercher" >
        <img src="{{ asset('icon/loupe.png') }}" alt="loupe" class="title logo resp top">
        <input type="submit" value="Lancer !">
    </form>
{% endblock search %}