{% extends "front/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock stylesheets %}

{% block search %}
    <article class="detail">
        <div class="card-text" id="divSearch">
            <div class="btn logo icon"><label><img src="{{ asset('icon/loupe.png') }}" alt="loupe"></label>
            </div>
            <div class="btn"><input type="text" name="query" placeholder="Ville, Code postal">
            </div>
        </div>
    </article>
{% endblock search %}