{% extends "base.html.twig" %}

{% block metatitle %}
    Créer un Compte | Skateboard Social Club
{% endblock metatitle %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock stylesheets %}

{% block main %}
    <section class="section">
        <div class="detail">
            <div class="justify-between flex fdr">
                <div class="flex pad10">
                    {{ form(userForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock main %}

