{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">

{% endblock stylesheets %}

        <footer class="footer">
           <nav>
               <ul>
                   <li><a href="#" class="marge">
                           <img src="{{ asset('icon/fleche_top') }}" alt="logo" class="left logo resp">
                       </a></li>
               </ul>
           </nav>

        </footer>
    </body>
</html>